@media (max-width: 680px) {
  #banner {
    height: 55vh;
  }
  #about,
  div {
    margin: 5px;
  }

  #project {
    display: flex;
    flex-direction: column;
    height: 155vh;
  }

  #techs {
    height: 45vh;
  }
}
